@charset "UTF-8";

body{
	background-color:#F2FDFF;
}

header {
  width: 100%;
  height: 70px;
  background: #b7ff6f;
  border: 4px solid #707070;
  box-sizing: border-box;
}

title{
	margin-right: auto;
    margin: 0px;
    padding: 0px;
    font-family:"book antiqua";
}
